/*Mobile*/
label{
    display: block;
    text-align: center;
    font-size: 1.5em;
    width: 96%;
    margin: 0 2%;
    font-family: cursive;
}
input{
    box-sizing: border-box;
    width: 96%;
    padding: 12px 20px;
    margin: 8px 2%;
    border: 3px solid #c7c7c7;
    border-radius: 22px;
    border-style: dotted;

}
.fontsize{
    font-size: 1.3em;
}
body{
    background-color: #c7c7c7;
}
#submit input{
    width: 60%;
    margin: auto 20%;
    cursor: pointer;
}
#submit input:hover{
    background-color: hsl(0, 0%, 67%);
}

@media screen and (min-width: 520px){

}